@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb:0, 0, 0;
  --background-start-rgb:214, 219, 220;
  --background-end-rgb:255, 255, 255;
}

@media (prefers-color-scheme:dark) {
  :root {
    --foreground-rgb:255, 255, 255;
    --background-start-rgb:0, 0, 0;
    --background-end-rgb:0, 0, 0;
  }
}

body {
  color:rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap:balance;
  }
}

/* 외부 폰트 */
@font-face {
  font-family:"AmericusSansAged";
  src:url("/fonts/AmericusSansAged.eot"),
  url("/fonts/AmericusSansAged.woff")format("woff"),
}

/* swiper */
.swiper{width:100%;height:100%;}
.swiper-slide{text-align:center;display:flex;justify-content:center;align-items:center;}
.swiper-slide img{display:block;width:100%;height:100%;object-fit:cover;}

/* header */
.header_area .header_notice{height:30px;text-align:center;line-height:30px;font-size:12px;font-weight:400;color:rgb(17, 17, 17);background:rgb(229, 223, 211);}

/* event_swiper */
.event_slide_area .swiper-button-next,
.event_slide_area .swiper-button-prev{color:#ddd;}