/*
  -- 하단 페이지 scss --
  1. about
  2. characters
  3. stories
  4. archive
*/

$point-color:#B13F35;
$point-family-1:'AmericusSansAged';
$point-family-2:'NanumSquare';

// common
.sub_wrap{
  background:#fff;
}

// about page
.about_area{
  position:relative;
  min-height:450px;
  margin:0 auto;
  padding:170px 20px 100px;
  width:100%;
  max-width:1064px;
  .cont01{
    padding-bottom:200px;
    .img_box{
      padding-bottom:60px;
    }
    .text_box{
      p{
        margin-bottom:30px;
        font-family:$point-family-2;
        font-size:16px;
        line-height:26px;
      }
    }
  }
  .cont02{
    padding-bottom:200px;
    h3{
      padding-bottom:60px;
      font-size:34px;
      line-height:40px;
      color:$point-color;
      font-family:$point-family-1;
    }
    p{
      font-family:$point-family-2;
    }
  }
  .cont03{
    padding-bottom:200px;
    h3{
      padding-bottom:60px;
      font-size:34px;
      line-height:40px;
      color:$point-color;
      font-family:$point-family-1;
    }
    p{
      font-family:$point-family-2;
    }
  }
}

// characters page
.characters_area{
  .cont01{
    img{
      width:100%;
    }
  }
  .cont02{
    font-size:65px;
    line-height:75px;
    text-align:center;
    font-family:$point-family-1;
    h4{
      color:$point-color;
      font-family:$point-family-1;
    }
    .img_box{
      max-width:1100px;
      margin:0 auto;
      padding:0 5vw;
      box-sizing:border-box;
    }
    ul{
      display:grid;
      grid-template-columns:repeat(4, 1fr);
      gap:5vw;
      li{
        .s_btn{
          &:hover{
            cursor:pointer;
          }
        }
      }
    }
  }
}

// stories page
.stories_area{
  padding:132px 20px 100px 20px;
  max-width:1330px;
  width:69%;
  margin:0 auto;
  box-sizing:border-box;
  ul{
    width:100%;
    display:flex;
    li{
      width:50%;
      margin:40px 20px;
      p{
        padding-top:20px;
        font-size:20px;
        line-height:25px;
        font-family:$point-family-2;
      }
    }
  }
}

// archive page
.archive_area{
  padding:132px 20px 100px 20px;
  .f_box{
    width:69%;
    margin:0 auto;
    box-sizing:border-box;
    max-width:1330px;
    ul{
      display:flex;
      flex-wrap:wrap;
      li{
        width:50%;
        padding:40px 20px;
        p{
          padding-top:20px;
          font-size:20px;
          line-height:25px;
          word-break:break-all;
          font-family:$point-family-2;
        }
      }
    }
  }
}

// product page
.product_area{
  padding-top:132px;

  .cont_wrap{
    width: 81%;
    margin: 0 auto;
    padding: 0px 20px;
    box-sizing: border-box;

    .category{
      font-family:$point-family-1;
      display:flex;
      justify-content:space-around;
      padding:30px 0 70px;
      font-size:26px;
      line-height:30px;

      li{
        color:$point-color;
      }
    }
  }
}