/*
  -- 하단 페이지 scss --
  1. about
  2. characters
  3. stories
  4. archive
*/

$point-color:#B13F35;
$point-family-1:'AmericusSansAged';
$point-family-2:'NanumSquare';

// common
.sub_wrap{
  background:#fff;
}

// about page
.about_area{
  position:relative;
  min-height:450px;
  margin:0 auto;
  padding:170px 20px 100px;
  width:100%;
  max-width:1064px;
  .cont01{
    padding-bottom:200px;
    .img_box{
      padding-bottom:60px;
    }
    .text_box{
      p{
        margin-bottom:30px;
        font-family:$point-family-2;
        font-size:16px;
        line-height:26px;
      }
    }
  }
  .cont02{
    padding-bottom:200px;
    h3{
      padding-bottom:60px;
      font-size:34px;
      line-height:40px;
      color:$point-color;
      font-family:$point-family-1;
    }
    p{
      font-family:$point-family-2;
    }
  }
  .cont03{
    padding-bottom:200px;
    h3{
      padding-bottom:60px;
      font-size:34px;
      line-height:40px;
      color:$point-color;
      font-family:$point-family-1;
    }
    p{
      font-family:$point-family-2;
    }
  }
}

// characters page
.characters_area{
  .cont01{
    img{
      width:100%;
    }
  }
  .cont02{
    font-size:65px;
    line-height:75px;
    text-align:center;
    font-family:$point-family-1;
    h4{
      color:$point-color;
      font-family:$point-family-1;
    }
    .img_box{
      max-width:1100px;
      margin:0 auto;
      padding:0 5vw;
      box-sizing:border-box;
    }
    ul{
      display:grid;
      grid-template-columns:repeat(4, 1fr);
      gap:5vw;
      li{
        .s_btn{
          &:hover{
            cursor:pointer;
          }
        }
      }
    }
  }
}

// stories page
.stories_area{
  padding:132px 20px 100px 20px;
  max-width:1330px;
  width:69%;
  margin:0 auto;
  box-sizing:border-box;
  ul{
    width:100%;
    display:flex;
    li{
      width:50%;
      margin:40px 20px;
      p{
        padding-top:20px;
        font-size:20px;
        line-height:25px;
        font-family:$point-family-2;
      }
    }
  }
}
.stories_detail{
  width:100%;
  max-width:1064px;
  margin:0 auto;
  div{
    display:flex;
    justify-content:center;
    margin-top:40px;
  }
}

// archive page
.archive_area{
  padding:132px 20px 100px 20px;
  .f_box{
    width:69%;
    margin:0 auto;
    box-sizing:border-box;
    max-width:1330px;
    ul{
      display:flex;
      flex-wrap:wrap;
      li{
        width:50%;
        padding:40px 20px;
        p{
          padding-top:20px;
          font-size:20px;
          line-height:25px;
          word-break:break-all;
          font-family:$point-family-2;
        }
      }
    }
  }
}

// gallery page
.gallery_area{
  padding:170px 0 150px;
  .detail_txt{
    text-align:center;
    padding:50px 0;
    .name{
      font-size:20px;
      line-height:25px;
    }
    .summary{
      padding:15px 0 50px;
      font-size:18px;
      line-height:23px;
    }
    .simple{
      font-size:16px;
      line-height:26px;
    }
  }
}

// product page
.product_area{
  padding-top:132px;

  .cont_wrap{
    width: 81%;
    margin: 0 auto;
    padding: 0px 20px;
    box-sizing: border-box;

    .category{
      font-family:$point-family-1;
      display:flex;
      justify-content:space-around;
      padding:30px 0 70px;
      font-size:26px;
      line-height:30px;

      li{
        color:$point-color;
      }
    }

    .flex_wrap{
      ul{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:space-around;

        li{
          width:30%;

          .img_box{
            position:relative;
            display:inline-block;

            .image{
              display:block;
              opacity:1;
              transition:opacity 0.5s ease-in-out;
            }
            .image_hover{
              position:absolute;
              top:0;
              left:0;
              opacity:0;
              transition:opacity 0.5s ease-in-out;
            }
            &:hover{
              .image{
                opacity:0;
              }
              .image_hover{
                opacity:1;
              }
            }
          }

          p{
            padding:20px 0 10px;
            letter-spacing:0;
            text-align:center;
            font-size:16px;
          }
          span{
            text-align:center;
            letter-spacing:0;
            display:block;
            font-size:14px;
          }
        }
      }
    }
  }
}

// cart page
.cart_area{
  width:100%;
  max-width:1064px;
  padding:170px 60px 100px;
  margin:0 auto;
  .menu{
    margin-bottom:5px;
    ul{
      display:flex;
      li{
        &.selected{
          a{
            text-decoration:underline;
            font-weight:400;
          }
        }
        a{
          display:block;
          padding:0 5px 11px;
          text-decoration:none;
          outline:0;
          text-align:center;
          font-size:11px;
          font-family:$point-family-2;
        }
      }
    }
  }
  .empty_cart_area{
    padding:50px 0;
    text-align:center;
    border:1px solid #111;
    border-left:none;
    border-right:none;
    p{
      font-size:12px;
    }
  }
  .btn_area{
    padding-top:10px;
    text-align:right;
    .order_btn{
      display:inline-block;
      width:50%;
      max-width:150px;
      height:30px;
      line-height:30px;
      color:#fff;
      text-align:center;
      text-decoration:none;
      text-transform:capitalize;
      background:#000;
      border-radius:0px;
      font-size:12px;
    }
  }
}

// stockist page
.stockist_area{
  width: 100%;
  max-width: 1064px;
  position: relative;
  min-height: 450px;
  margin: 0 auto;
  padding: 170px 60px 100px;
  box-sizing: border-box;
  h4{
    font-size: 34px;
    line-height: 40px;
    color:$point-color;
    font-family:$point-family-1;
  }
  ul{
    padding-top:20px;
    li{
      padding-top:30px;
      font-size: 16px;
      line-height: 26px;
    }
  }
  .cont02{
    margin:200px 0;
    display:flex;
    .f_box{ 
      width:50%;
      li{
        a{
          &:hover{
            color:#888;
            transition:all ease 0.5s;
          }
        }
      }
    }
  }
}